In [0]:
! sudo apt update

In [0]:
! sudo apt install tesseract-ocr

In [0]:
! sudo apt install libtesseract-dev

In [0]:
import cv2
import matplotlib.pyplot as plt
from PIL import Image

In [0]:
image = cv2.imread("RECIEPT_200312120912650.ocr.bmp")
string = pytesseract.image_to_string(image)
import re
req = re.findall(r"[A-Za-z].*?\n\n\([0-9]\s\@\s\$[0-9]+\.[0-9]+\)\s\$[0-9]+\.[0-9]+", string)
dictt = {}

In [0]:
subtotal = re.findall(r"SUBTOTAL\s\$[0-9]+\,[0-9]+\.[0-9]+", string)
print(subtotal)

['SUBTOTAL $7,037.65']

In [0]:
pattern = r"SUBTOTAL\s\$[0-9]+\,[0-9]+\.[0-9]+"
for match in re.finditer(pattern, string):
    s = match.start()
    e = match.end()
    subtotal = string[s:e]

subs = re.findall(r"\$[0-9]+\,[0-9]+\.[0-9]+", subtotal)
subs1 = subs[0]
type(subs)

list

In [0]:
pattern = r"TOTAL\s\$[0-9]+\,[0-9]+\.[0-9]+"
for match in re.finditer(pattern, string):
    s = match.start()
    e = match.end()
    total = string[s:e]

tots = re.findall(r"\$[0-9]+\,[0-9]+\.[0-9]+", total)
tots = tots[0]

In [0]:
pattern = r"CASH\s\$[0-9]+\,[0-9]+\.[0-9]+"
for match in re.finditer(pattern, string):
    s = match.start()
    e = match.end()
    cash = string[s:e]

cass = re.findall(r"\$[0-9]+\,[0-9]+\.[0-9]+", cash)
cass = cass[0]

In [0]:
values = []
products = []

for re in req:
  var=re.split("\n\n")
  products.append(var[0])
  values.append(var[1])

dictt["Products"] = products

In [0]:
import re
bills = re.findall(r"\n\n\([0-9]\s\@\s\$[0-9]+\.[0-9]+\)\s\$[0-9]+\.[0-9]+", string)

In [0]:
quantity=[]
ind_price = []
price = []

for bill in bills:
  entity=bill.split(" ")
  quantity.append(re.findall(r"[0-9]", entity[0]))
  ind_price.append(re.findall(r"[0-9]+\.[0-9]+", entity[2]))
  price.append(re.findall(r"[0-9]+\.[0-9]+", entity[3]))

In [0]:
ind_price

[['98.00'],
 ['68.00'],
 ['36.69'],
 ['54.57'],
 ['56.55'],
 ['68.00'],
 ['45.45'],
 ['65.85'],
 ['55.88'],
 ['36.58'],
 ['35.00'],
 ['25.00'],
 ['1.50'],
 ['1.25'],
 ['36.55'],
 ['36.50'],
 ['35.85'],
 ['36.90'],
 ['65.00'],
 ['68.80'],
 ['55.88'],
 ['68.00'],
 ['65.00'],
 ['58.00'],
 ['68.00'],
 ['36.90'],
 ['35.80'],
 ['36.80'],
 ['44.45']]

In [0]:
final_quant = []
for i in quantity:
    for j in i:
        final_quant.append(int(j))

final_ind_price = []
for x in ind_price:
    for y in x:
        final_ind_price.append(float(y))

final_price = []
for a in price:
    for b in a:
        final_price.append(float(b))

dictt["Quantity"] = final_quant
dictt["Unit Price"] = final_ind_price
dictt["Price"] = final_price

In [0]:
print(len(products))
print(len(final_price))
print(len(final_quant))
print(len(final_ind_price))

29
29
29
29

In [0]:
dictt["Subtotal"] = subs
dictt["Total"] = tots
dictt["cash"] = cass

In [0]:
import json

dictt = json.dumps(dictt)
bill_json = json.loads(dictt)

In [0]:
with open('data.json', 'w') as outfile:
    json.dump(dictt, outfile)

In [0]:
import pandas as pd
df = pd.DataFrame(dictt)
df.head(29)

                          Products  Quantity  Unit Price   Price
0          Veirdo@@ half sleeve @@         4       98.00  392.00
1     Veirdo. @ full sleeve tshirt         3       68.00  204.00
2     Us polo sleeve tshirt medi7m         3       36.69  110.07
3       Us polo black full sleeves         3       54.57  163.71
4               let Bi Mere) ieee)         3       56.55  169.65
5                  UCB tshirt blue         3       68.00  204.00
6                     UCB tshirtsd         3       45.45  136.35
7                        Tshirts 1         3       65.85  197.55
8                      Test tshirt         3       55.88  167.64
9                   Test product f         3       36.58  109.74
10           Solid pol neck tshirt         3       35.00  105.00
11                Solid men tshirt         2       25.00   50.00
12     Spendgo Collapsible Frisbee         3        1.50    4.50
13           Spendgo Ballpoint Pen         3        1.25    3.75
14                   edie Rte oar)         3       36.55  109.65
15              Sleeves men tshirt         2       36.50   73.00
16                 Solid polo neck         3       35.85  107.55
17                   Jeans us polo         2       36.90   73.80
18                   Graphic print         3       65.00  195.00
19  Half sleeve tshirt black large         3       68.80  206.40
20                     WET om alee         2       55.88  111.76
21               Kilt men’s tshirt         2       68.00  136.00
22                   Graphic print         3       65.00  195.00
23                  Fenoix tshirts         3       58.00  174.00
24    Half sleeve blue shirt small         3       68.00  204.00
25        Allen dolly tshirt black         2       36.90   73.80
26             Cord icelme) ls eas         2       35.80   71.60
27                          Pe maa         3       36.80  110.40
28                    PAC IpemaCoy         2       44.45   88.90

In [0]:
print(subtotal)
print(total)
print(cash)

SUBTOTAL $7,037.65
TOTAL $7,635.85
CASH $7,635.85